@charset "utf-8";

.profile-icon-button, 
.post-message, 
.post-movie {
  appearance: none;
  -webkit-appearance: none;
  background: #eee;
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* CSS */

.profile-icon-button {
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 22px;
}

.post-message, .post-movie {
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 22px;
}


.header-title {
    font-weight: bold;
    font-size: 26px;
}