@charset "utf-8";

/* CSS */

.header {
    height: 36px;
    padding: 12px 12px 12px 75px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;

    position: sticky;
    z-index: 1;
    top: 35px;
}

.profile-icon-button {
    position: absolute;
    top: 7px;
    left: 15px;

    appearance: none;
    background: white;
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;
    overflow: hidden;
    border-radius: 20px;
}

.title {
    font-weight: bold;
    font-size: 26px;
}

.header__actions {
    position: absolute;
    right: 14px;
    display: flex;
}

.actions__action {
    margin-left: 20px;
}

.post-movie,
.post-message {
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 20px;
    color: gray;

    appearance: none;
    background: white;
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
